.App{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

}

.buttonSection{ 
    margin-top: 2rem;
}